.text-center {
  text-align: center;
}

.color-white {
  color: #fff;
}

.text-uppercase {
  text-transform: uppercase;
}

.container-fluid {
  padding: 30px 20px 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 1170px;
  &::before {
    display: table;
    content: " ";
  }
}

.bg-white {
  background: #fff;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.container {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  position: relative;
  width: 117rem;
  margin-right: auto;
  margin-left: auto;

  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.min-page-height {
  min-height: 600px !important;
}

.p-w-sm {
  padding: 0 16px;
}

.body {
  background: #fff;
  color: #333;
  float: left;
  font-family: Helvetica, Arial, san-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  min-height: 100%;
  width: 100%;
}

.position {
  position: relative;
  margin: auto;
  width: 1180px;
}

.hidden {
  display: none !important;
}

.no-min-height {
  min-height: 0 !important;
}

.no-paddings {
  padding: 0 !important;
}

.p-b-xl {
  padding-bottom: 4rem;
}

.bg-light-gray {
  background: #f5f5f5;;
}

.p-t-lg {
  padding-top: 32px;
}

.p-b-xxl {
  padding-bottom: 48px;
}

.m-b-lg {
  margin-bottom: 32px;
}

.m-b-sm {
  margin-bottom: 16px;
}

.m-t-sm {
  margin-top: 16px;
}

.m-b-md {
  margin-bottom: 24px;
}

.m-b-xs {
  margin-bottom: 8px;
}

.break-word {
  overflow-wrap: break-word;
}

.p-t-sm {
  padding-top: 1.6rem;
}

.p-b-sm {
  padding-bottom: 1.6rem;
}

.p-w-xl {
  padding: 0 40px;
}

.b-b {
  border-bottom: 1px solid #e1e3e6;
}

.p-w-xs {
  padding: 0 8px;
}

.p-sm {
  padding: 16px;
}

.border-bottom {
  border-bottom: 1px solid #e7eaec;
}

.text-muted {
  color: #777;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.list-inline {
  list-style: none;
  margin-left: -5px;

  & > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.like-active {
  color: $color-primary;
}

.text-right {
  text-align: right;
}

.p-l-r {
  padding-left: 8px;
  padding-right: 8px;
}

.text-bold {
  font-weight: 700;
}

.no-margins {
  margin: 0 !important;
}