.ant-comment-content-author-name {
  color: #141823;
  font-weight: 600;
  font-size: 14px !important;
}

.ant-comment-content-author-time {
  color: #1e2232 !important;
}

.ant-comment-inner {
  padding: 2px 0 2px 0 !important;
}


.thread-comment {
  .ant-comment-avatar {
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }
}