@import "../../styles/variables";

.feeds-filter {
  width: 100%;
}

.lg-feeds-filter {
  position: static;
  padding-bottom: 8px;
  z-index: 2;

  .tag-manager-heading {
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
    color: #555;

    span {
      padding-right: 5px;
    }

    i {
      width: 1.28571em;
      text-align: center;
      padding-right: 5px;
    }

    & > div {
      display: inline-block;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .panel-transparent {
    background: transparent !important;
    border: none !important;
    padding: 8px;
    margin: 0;
  }

  .panel {
    background: #fff;
    border: 1px solid #e1e3e6;
    display: inline-block;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 16px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    .panel-heading {
      color: #666;
      margin: 0;
      padding: 4px;
      position: relative;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      .post-count {
        color: #bbb;
        font-weight: 400;
        margin-left: 5px;
      }

    }
    .active {
      background: #fff;
      color: $color-primary-dark;
    }
  }
}
