@import "../../../styles/variables";

.navbar-primary {
  background: $color-white;
  border-bottom: 1px solid rgba(0,0,0,.12);
  float: left;
  position: relative;
  transition: margin .6s;
  width: 100%;
  display: block;
}

.navbar-site {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;

  .nav-menu-link-active {
    border-color: $color-primary;
    color: $color-primary-dark;
    text-decoration: none;
  }

  li {
    float: left;
    white-space: nowrap;

    a {
      border-bottom: 3px solid rgba(0,186,190,0);
      color: #999;
      display: block;
      padding: 13px 22px 11px;
      text-decoration: none;
      transition: border-color .2s,color .2s;

      i {
        font-size: 15px;
        margin: 0 2px 0 0;
      }

      &:hover {
        border-color: $color-primary;
        color: $color-primary-dark;
        text-decoration: none;
      }
    }
  }
}

.search-area {
  float: right;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.has-suggestion {
  position: static;
  width: 100%;
  float: left;
}
