@import "../../../styles/variables";

.social-reminder {
  background: #f1f1f1;
  border-left: 4px solid $color-primary-dark;
  clear: both;
  margin-bottom: 16px;
  padding: 4px 8px;
}

.social-like-box {
  border-bottom: 1px solid #e1e3e6;
  padding: 0 0 10px 18px;
  margin: 0 0 10px;
  color: #737a86;
  font-size: 12px;
}

.social-feed-box {
  background: $color-white;
  border: 1px solid #e1e3e6;
  float: left;
  font-size: 15px;
  margin-bottom: 8px;
  position: relative;
  width: 100%;
  border-radius: 4px;

  .social-reply {
    float: left;
    padding-left: 10px;
    position: relative;
    width: 100%;
  }

  .social-footer {
    background: #f6f7f9;
    border-top: 1px solid #e1e3e6;
    display: block;
    float: left;
    padding: 10px;
    width: 100%;

    .view-answer {
      color: $color-primary;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .media-body {
    color: #141823;
    padding-right: 20px;
    position: relative;

    a {
      color: #141823;
      font-weight: 600;
    }

    small {
      display: block;
      line-height: 1.2;

      a {
        color: #737a86;
        font-weight: 400;

        &:hover {
          color: $color-primary;
        }
        span {
          position: relative;
        }

        span + span {
          margin-left: 10px;
          &::before {

            background: #737a86;
            content: "";
            height: 3px;
            left: -9px;
            position: absolute;
            top: 8px;
            width: 3px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .social-body {
    float: left;
    padding: 0 10px 5px;
    width: 100%;
    p {
      margin: 0 0 10px;
    }

    .social-select {
      clear: both;
      font-size: 12px;
      min-height: 29px;
      position: relative;
    }

    .btn-group {
      border-top: 1px solid #e1e3e6;
      float: left;
      padding-top: 5px;
      position: relative;
      width: 100%;
    }

    .btn:hover {
      color: $color-primary;
    }

    i {
      padding-right: 5px;
    }
  }

  .social-avatar {
    float: left;
    margin-bottom: 10px;
    padding: 10px 10px 0;
    position: relative;
    width: 100%;

    p {
      margin: 1px 0 3px;
    }

    & > a {
      position: relative;
      z-index: 1;
    }

    .image {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      float: left;
      height: 40px;
      overflow: hidden;
      margin-right: 10px;
      text-align: center;
      width: 40px;
      border-radius: 4px;
    }
  }

  .user-avatar {
    background-color: $color-primary;
  }
}