@import "../../styles/variables";

.section-header {
  overflow: hidden;
  border-bottom: 1px solid #eee;
  margin: -20px 0 10px;

  h2 {
    float: left;
    font-size: 15px;
    margin: 0;
    padding: 11px 3px 9px;
  }

  .edit {
    float: right;
    padding: 11px 0 0;
    text-decoration: none;
    color: $color-primary;
    transition: all .1s;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    i {
      margin-right: 5px;
    }
  }
}
