#login {
  h1 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2.8px;
  }

  .image-login {
    padding: 0 112px 0 80px;
  }

  .signup-content {
    position: relative;
    &::before {
      background: #e1e3e6;
      content: "";
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }
}